# Run sensor_manager tests entirely on simulated data
CONFIG_SENSOR_MANAGER_ENABLE_FAKE_DATA=y
CONFIG_SENSOR_MANAGER_FORCE_FAKE_ONLY=y

# Speed up Unity test app boot
CONFIG_BOOTLOADER_SKIP_VALIDATE_ON_POWER_ON=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_PARTITION_TABLE_SINGLE_APP=y
